@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fd-primary: 36 90% 56%;
}

html {
  font-feature-settings: "calt", "cv02", "cv03", "cv04", "cv11" !important;
  font-variation-settings: normal !important;

  &.dark {
    body {
      --fd-primary: 40 90% 56%;
    }
  }
}

#nd-home-layout {
  @apply min-h-screen;
}

#nd-nav {
  @apply max-w-[1266px] !important;
}

#nd-sidebar {
  [data-search-full] {
    @apply mt-1
  }

  p {
    @apply mt-4 md:-mx-1.5;

    &:first-of-type {
      @apply mt-1;
    }
  }

  a[data-active] {
    @apply md:-mx-1.5;
  }
}
